<!DOCTYPE html>
<html>
<head>
    <title>Post Grid</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/filter">
                    <div class="btn-group">
                        {% for tag in tags %}
                        <button type="submit" class="btn btn-primary" name="tag" value="{{ tag }}">{{ tag }}</button>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>